@font-face {
    font-family: 'MontserratLight';
    src: url('../fonts/Montserrat-Light.woff2') format("woff2"), url('../fonts/Montserrat-Light.woff') format("woff");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'MontserratMedium';
    src: url('../fonts/Montserrat-Medium.woff2') format("woff2"), url('../fonts/Montserrat-Medium.woff') format("woff");
    font-weight: 500;
    font-style: normal;
  }
  @font-face { 
    font-family: 'MontserratSemiBold';
    src: url('../fonts/Montserrat-SemiBold.woff2') format("woff2"), url('../fonts/Montserrat-SemiBold.woff') format("woff");
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'MontserratRegular';
    src: url('../fonts/Montserrat-Regular.woff2') format("woff2"), url('../fonts/Montserrat-Regular.woff') format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'MontserratBold';
    src: url('../fonts/Montserrat-Bold.woff2') format("woff2"), url('../fonts/Montserrat-Bold.woff') format("woff");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'iconsAL';
    src:  url('../fonts/iconsAL.eot?5kz6zf');
    src:  url('../fonts/iconsAL.eot?5kz6zf#iefix') format('embedded-opentype'),
      url('../fonts/iconsAL.ttf?5kz6zf') format('truetype'),
      url('../fonts/iconsAL.woff?5kz6zf') format('woff'),
      url('../fonts/iconsAL.svg?5kz6zf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'iconsAL' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-C .path1:before {
    content: "\e900";
    color: rgb(0, 0, 0);
    opacity: 0.2080;
  }
  .icon-C .path2:before {
    content: "\e901";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-C-blur .path1:before {
    content: "\e902";
    color: rgb(0, 0, 0);
    opacity: 0.2080;
  }
  .icon-C-blur .path2:before {
    content: "\e903";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-E .path1:before {
    content: "\e904";
    color: rgb(0, 0, 0);
    opacity: 0.2080;
  }
  .icon-E .path2:before {
    content: "\e905";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-E-blur .path1:before {
    content: "\e906";
    color: rgb(0, 0, 0);
    opacity: 0.2080;
  }
  .icon-E-blur .path2:before {
    content: "\e907";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-facebook:before {
    content: "\e908";
  }
  .icon-linkedin:before {
    content: "\e909";
  }
  .icon-N .path1:before {
    content: "\e90a";
    color: rgb(0, 0, 0);
    opacity: 0.2080;
  }
  .icon-N .path2:before {
    content: "\e90b";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-O .path1:before {
    content: "\e90c";
    color: rgb(0, 0, 0);
    opacity: 0.2080;
  }
  .icon-O .path2:before {
    content: "\e90d";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-O-blur .path1:before {
    content: "\e90e";
    color: rgb(0, 0, 0);
    opacity: 0.2080;
  }
  .icon-O-blur .path2:before {
    content: "\e90f";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-R .path1:before {
    content: "\e910";
    color: rgb(0, 0, 0);
    opacity: 0.2080;
  }
  .icon-R .path2:before {
    content: "\e911";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-R-blur .path1:before {
    content: "\e912";
    color: rgb(0, 0, 0);
    opacity: 0.2080;
  }
  .icon-R-blur .path2:before {
    content: "\e913";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-T .path1:before {
    content: "\e914";
    color: rgb(0, 0, 0);
    opacity: 0.2080;
  }
  .icon-T .path2:before {
    content: "\e915";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-T-blur .path1:before {
    content: "\e916";
    color: rgb(0, 0, 0);
    opacity: 0.2080;
  }
  .icon-T-blur .path2:before {
    content: "\e917";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  